.fp-slides {
  position: absolute;
}

.fp-controlArrow.fp-prev {
  -webkit-animation: shake 2s ease;
  animation: shake 2s ease;
}

.fp-controlArrow.fp-next {
  -webkit-animation: shake 2s ease;
  animation: shake 2s ease;
  -webkit-animation-delay: 0.5s;
}

.portfolio-container {
  width: 100%;
}

.portfolio-slide {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  span {
    position: absolute;
    width: 100%;
    bottom: 5px;
    background-color: #000;
    color: #ffffff;
    height: 50px;
    font-size: 20px;
  }
}

.swiper-tip {
  position: absolute;
  width: 100%;
  bottom: 5px;
  background-color: #000;
  color: #ffffff;
  height: 50px;
  font-size: 20px;
}

.swiper-image {
  max-width: 100%;
  height: auto;
}

.portfolio-item {
  margin-bottom: 30px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.portfolio-item:hover {
  margin-bottom: 30px;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.portfolio-item .hover-bg {
  height: 260px;
  overflow: hidden;
  position: relative;
}

.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.66);
  padding: 25% 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}

.hover-bg .hover-text > h4 {
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
}

.hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.hover-bg .hover-text > i {
  opacity: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: all 0.3s;
}

.hover-bg:hover .hover-text > i {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.hover-bg:hover .hover-text {
  opacity: 1;
}

.swiper-image {
  width: 100%; /* 使得图片宽度完全填充 swiper slide */
  height: auto; /* 保持图片的原始宽高比 */
}

.swiper-content {
  text-align: center; /* 可选，用于居中对齐图片和标题 */
}

.carousel-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: calc(100vh - 40px); /* 减去标题的高度 */
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.carousel-item-title {
  width: 100%; /* 与图片容器宽度相同 */
  background-color: black;
  color: white;
  font-size: 1em;
  height: 40px;
  line-height: 40px;
  text-align: center;
}