.icon-infomation {
  position: relative;
}

.icon-infomation img {
  height: 160px;
}

.icon-infomation p {
  font-size: 12px;
  text-align: center;
}

.introduction {
  -webkit-animation: bounceIn 2s;
  animation: bounceIn 2s;
}

.education {
  //opacity: 0;
  -webkit-animation: lightSpeedIn 2s ease forwards;
  animation: lightSpeedIn 2s ease forwards;
  -webkit-animation-delay: 1s;
}

.experience {
  //opacity: 0;
  -webkit-animation: rubberBand 2s ease forwards;
  animation: rubberBand 2s ease forwards;
  -webkit-animation-delay: 1.5s;
}

.contact {
  //opacity: 0;
  -webkit-animation: bounceInUp 2s ease forwards;
  animation: bounceInUp 2s ease forwards;
  -webkit-animation-delay: 2s;
}

.title {
  display: inline-block;
  -webkit-animation: zoomInDown 2s ease forwards;
  animation: zoomInDown 2s ease forwards;
}

.icon-infomation.zoomOutUp {
  opacity: 1;
  -webkit-animation: slideOutUp 0.5s linear;
  animation: slideOutUp 0.5s linear;
}